@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html {
  background-color: rgba(0, 0, 0, 0.5);
}
body {
  margin: auto;
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  color: #393d41;
  font-family: 'Open Sans';
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.65;
  background-color: white;
}
header {
  background-color: black;
}
header img {
  width: 35%;
  padding: 2rem;
}
main .corso_web {
  background: url(../images/banner.jpg) center center;
  background-size: cover;
}
main .corso_web button {
  background-color: #f04c2f;
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
main .description {
  margin: 2rem 0;
}
main .description img {
  width: 75%;
  border-radius: 50%;
}
main .garanty,
main .garanty h1 {
  background-color: #e22d0e;
  color: white;
}
main .garanty p {
  padding: 0;
}
main .garanty p:first-of-type {
  padding: 1rem 1rem 2rem;
  font-style: italic;
}
main .garanty p:last-of-type {
  padding-bottom: 2rem;
}
main .articols {
  margin: 4rem 0;
}
main .articols article {
  margin: 2rem;
  border: 2px solid #dee1e3;
  border-radius: 5px;
}
main .articols article a {
  text-decoration: none;
  color: black;
}
main .articols article p {
  padding: 0 2rem 2rem;
}
main .articols article img {
  width: 100%;
}
footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  padding-bottom: 3rem;
}
footer hr {
  margin: 1.5rem 8rem 1.5rem;
}
footer h1 {
  color: white;
  margin-bottom: 1.5rem;
}
footer i {
  margin-right: 0.3rem;
}
footer a {
  color: #c8e7f0;
}
h1,
h2,
h3 {
  color: #25a2c3;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1;
}
h1 {
  font-size: 2.2rem;
  padding: 3rem 4rem 0;
}
h2 {
  font-size: 1.8rem;
  padding-top: 2rem;
}
h3 {
  font-size: 1.5rem;
  padding: 1rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  padding: 1rem 5rem;
}
li {
  list-style: none;
}
