/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  min-width: 700px;
}
body {
  width: 100%;
  color: #393d41;
  font-family: 'Open Sans';
  font-size: 1.2rem;
  line-height: 1.65;
  text-align: center;
}
header {
  background-color: black;
  text-align: start;
}
header img {
  width: 12rem;
  padding: 2rem;
}
.corso_web div {
  width: 58rem;
  margin: auto;
}
main .corso_web {
  text-align: center;
  background: url(../images/banner.jpg);
  background-size: cover;
  padding: 20vh;
}
main .corso_web button {
  background-color: #f04c2f;
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

main .description {
  padding: 8rem 5rem;
  text-align: center;
}
.description div {
  display: inline-block;
  text-align: start;
  margin-left: 5vh;
}
main .description img {
  width: 28rem;
  border-radius: 50%;
}
main .description p {
  margin: 0;
  padding: 0;
  max-width: 32vw;
}
main .description h2 {
  margin: 2rem 0 0.2rem;
  padding: 0;
  max-width: 32vw;
}
.garanty {
  text-align: center;
}
.garanty div {
  width: 40rem;
  margin: auto;
}
main .garanty,
main .garanty h1 {
  background-color: #e22d0e;
  color: white;
  padding: 6vh 4vh 0;
}
main .garanty p {
  padding: 0;
}
main .garanty p:first-of-type {
  padding: 1rem 1rem 2rem;
  font-style: italic;
}
main .garanty p:last-of-type {
  padding-bottom: 10vh;
}
main .articols {
  display: inline;
  text-align: center;
  margin: 2vw;
}
main .articols article {
  display: inline-block;
  width: 28rem;
  margin: 6rem 1rem;
  border: 2px solid #dee1e3;
  border-radius: 5px;
}
main .articols article p {
  padding: 0 0 2rem;
}
main .articols article img {
  max-height: 15rem;
  width: 100%;
}
footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  padding-bottom: 3rem;
  text-align: center;
}
footer div {
  display: inline-block;
  text-align: start;
  width: 19rem;
}
footer li {
  list-style: none;
}
footer hr {
  margin: 1.5rem 0;
}
footer h1 {
  color: white;
  margin-bottom: 1.5rem;
  text-align: start;
  padding-left: 0;
}
footer i {
  margin-right: 0.3rem;
}
footer a {
  color: #c8e7f0;
}
h1,
h2,
h3 {
  color: #25a2c3;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1;
}
h1 {
  font-size: 2.2rem;
  padding: 3rem 4rem 0;
}
h2 {
  font-size: 1.8rem;
  padding-top: 2rem;
}
h3 {
  font-size: 1.5rem;
  padding: 1rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  padding: 1rem 5rem;
}
